{% extends "base.html.twig" %}

{% block body %}
<br>
    <h1>Découverte de Symfony</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium incidunt vel amet unde velit molestiae sunt. Sit magnam cumque aliquid distinctio asperiores officia, praesentium itaque molestias nostrum porro ratione iusto dolorum dolore, quos nulla minus quo vero perspiciatis, illo explicabo?</p>
    <p>Mollitia hic ea aliquid, error voluptates expedita numquam at animi nobis excepturi nostrum! Perferendis natus ducimus animi quia, ratione ullam saepe asperiores labore excepturi obcaecati vitae dolore velit aliquid. Sequi at alias, ex est libero eaque voluptates reprehenderit iusto quae.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium incidunt vel amet unde velit molestiae sunt. Sit magnam cumque aliquid distinctio asperiores officia, praesentium itaque molestias nostrum porro ratione iusto dolorum dolore, quos nulla minus quo vero perspiciatis, illo explicabo?</p>
{% endblock %}


